.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $darc-color;
  padding: 10px;
}

@media (min-width: 1024px) {
  .main-footer {
    background-color: $darc-color;
    padding-left: 21px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    width: 1000px;
}
}